@font-face {

    font-family: Poppins;
    src: url(font.ttf);

}

* {

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

h1 {

    padding: 0px;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}

h2 {

    padding: 0px;
    margin: 0px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

}

input {

    margin-bottom: 10px;

}

section {

    border-style: solid;
    border-radius: 10px;
    border-color: #f6c2cb;
    padding: 20px;
    margin: 0px;
    margin-left:auto;
    margin-right: auto;
    width: 200px;
    margin-bottom: 40px;

}

footer {

    font-style: italic;
    display: flex;
    justify-content: center;

}

mark {

    font-style: italic;
    background-color: #f6c2cb;
    text-decoration: none;

}

a {

    text-decoration: none;

}

input {

    width: 200px;
    max-width: 200px;

}

input, select:focus, textarea {

    font-size: 16px !important;

}

html, body {

    margin: 0; 
    height: 100%; 
    overflow: hidden; 
    -webkit-user-select: none;

}

body {

  background-color: black;
  color: white;

}

@media screen and (prefers-color-scheme: light) {

  body {

    background-color: white;
    color: black;

  }

}

